PUID=1000
PGID=1000

JOB_POLL_INTERVAL_SECS=5
JOB_TIMEOUT_SECS=2700

HOST_MUSIC_ROOT=<YOUR_MUSIC_DIRECTORY>
CONTAINER_MUSIC_ROOT=/music
MUSIC_STORE_FOLDER=tracks
MUSIC_USERLIBS_FOLDER=userlibs

HOST_DB_ROOT=<YOUR_DB_DIRECTORY>
CONTAINER_DB_ROOT=/jobs
DB_FILE_NAME=jobs.db
JOB_DB_PATH=<YOUR_DB_DIRECTORY>/jobs.db

SPOTDL_CONFIG_DIR=<YOUR_SPOTDL_CONFIG_DIR>

NAVIDROME_URL=http://navidrome:4533/nd       # use within docker network
NAVIDROME_URL_LOCAL=http://localhost:4533/nd # for scripts/tests reaching navidrome container's open port
NAVIDROME_ADMIN_USER=<YOUR_ADMIN_USERNAME>
NAVIDROME_ADMIN_PASS=<YOUR_ADMIN_PASSWORD>
SESSION_SECRET=<YOUR_SESSION_SECRET>

SPOTIFY_CLIENT_ID=<YOUR_SPOTIFY_CLIENT_ID>
SPOTIFY_CLIENT_SECRET=<YOUR_SPOTIFY_CLIENT_SECRET>